*.py[cod]
*.pyo
*.pyc
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.log
*.sql
*.sqlite
*.db

.venv/
.env
downloaded_pdfs

alembic.ini
alembic/versions/*

chromedriver.exe

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
